/*.swal-text {
  background-color: #FEFAE3;
  padding: 17px;
  border: 1px solid #F0E1A1;
  display: block;
  margin: 22px;
  text-align: center;
  color: #61534e;
}*/
/*Loader*/
.loader{
    background: rgba(255,255,255,0.75);
    position:fixed;
    z-index:4;
    height: 100%;
    width:100%;
    min-width:100%;
    min-height:100%;
    overflow:auto;
}

.loader-container {
    position:fixed;
    z-index:1050;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.loader-icon{
    width: 150px;
    height:150px;
    border-radius: 100%;
}
